@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DropDown</title>
</head>
<body>
    <div> 
        @Html.DropDownList("Departments" ,"Select Department")
    </div>
</body>
</html>
