@model IEnumerable<MVCwithEF.Department>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TryCheck</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        foreach (var dept in Model)
        {
            Html.EditorForModel();
        }
    }
</body>
</html>
