@model IEnumerable<MVCwithEF.Department>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TryRadio</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        foreach (var dept in Model)
        {
            @Html.RadioButtonFor(m => dept.DeptId, dept.DeptId,
                   dept.isSelected.HasValue && dept.isSelected.Value ? new { @checked ="checked"  } : null  ) @dept.DeptName <br>
        }
        <br />
        <input type="submit" value="submit" />
    }
</body>

</html>
